.qlk_engagement_form {
    .o_form_sheet_bg {
        border-top: 6px solid #7b0d1e;
        background: linear-gradient(180deg, rgba(123, 13, 30, 0.08), #fff 36%);
        padding-top: 24px;
    }

    .oe_button_box .oe_stat_button {
        border-color: #7b0d1e;
        color: #7b0d1e;
    }

    .qlk_engagement_ref {
        color: #7b0d1e;
        font-weight: 600;
    }

    .qlk_maroon_outline {
        border-left: 4px solid #7b0d1e;
        padding-left: 12px;
    }

    .qlk_engagement_notebook {
        .nav-tabs .nav-link.active {
            background-color: #7b0d1e;
            border-color: #7b0d1e;
            color: #fff;
        }

        .nav-tabs .nav-link {
            color: #7b0d1e;
        }
    }
}

.qlk_engagement_list {
    thead {
        background-color: #7b0d1e;
        color: #fff;
    }
}

.qlk_scope_area {
    min-height: 200px;
}
