<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <record id="action_qlk_approval_dashboard" model="ir.actions.client">
            <field name="name">Approval Dashboard</field>
            <field name="tag">qlk.approval.dashboard</field>
            <field name="target">main</field>
        </record>

        <menuitem id="menu_qlk_approval_dashboard_root"
                  name="Approval Dashboard"
                  sequence="11"
                  action="action_qlk_approval_dashboard"
                  groups="base.group_user"/>
    </data>
</odoo>
